*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  inline-size: 1200px;
  height: 800px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 1140px;
  height: 534px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 711px;
}

.content__details {
  flex: 0 0 auto;
  width: 399px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 rgba(217, 217, 217, 0.1);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 3px;
  position: relative;
}

.content__list-container::-webkit-scrollbar {
  width: 4px;
}

.content__list-container::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.1);
}

.content__list-container::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
}

.content__list-item {
  padding: 0;
  box-sizing: border-box;
}

.content__card-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 6px;
  width: 100%;
  max-width: 390px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  width: 190px; /* 194 + 6 + 190 = 390 */
  height: 103px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__card-link_current {
  background-color: #545454;
}

.content__card-link:active {
  background-color: #2a2a2a;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover .content__video-card-title {
  text-decoration: underline;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.search-form__fieldset {
  flex: 0 0 auto;
  border: none;
}

.search-form__fieldset:first-of-type {
  width: 225px;
}

.search-form__fieldset:last-of-type {
  width: 212px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  padding: 2px 4px;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  border: none;
  padding: 6px 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  color: #6dc1fd;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
  border: 1px solid #fff;
}

.more-button {
  width: 100%;
  border: 1px solid #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
